# Naive Bayes Classifier

This example is to predict whether there will be rain or not and hence deduce if we can go out or not

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import pandas as pd

In [3]:
#Opening my custom dataset
mycsvfile=pd.read_csv('nbdataset2.csv')
mycsvfile.head() #Checking to make sure if everything is proper or not by displaying the first 5 rows

  Weather      Car   Class   out  home Prediction
0   sunny  working  go-out  0.32  0.04     go-out
1   rainy   broken  go-out  0.02  0.24  stay-home
2   sunny  working  go-out  0.32  0.04     go-out
3   sunny  working  go-out  0.32  0.04     go-out
4   sunny  working  go-out  0.32  0.04     go-out

In [4]:
mycsvfile.tail()

  Weather      Car      Class   out  home Prediction
5   rainy   broken  stay-home  0.02  0.24  stay-home
6   rainy   broken  stay-home  0.02  0.24  stay-home
7   sunny  working  stay-home  0.32  0.04     go-out
8   sunny   broken  stay-home  0.08  0.16  stay-home
9   rainy   broken  stay-home  0.02  0.24  stay-home

In [5]:
y=mycsvfile["Class"]
y

0       go-out
1       go-out
2       go-out
3       go-out
4       go-out
5    stay-home
6    stay-home
7    stay-home
8    stay-home
9    stay-home
Name: Class, dtype: object

In [6]:
mycsvfile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Weather     10 non-null     object
 1   Car         10 non-null     object
 2   Class       10 non-null     object
 3   out         10 non-null     float64
 4   home        10 non-null     float64
 5   Prediction  10 non-null     object
dtypes: float64(2), object(4)
memory usage: 608.0+ bytes

In [7]:
X=[]
y=[]
for i in range(10):
    if(mycsvfile["Weather"][i]=='sunny'):
        weather=1
    else:
        weather=0
    
    if(mycsvfile["Car"][i]=='working'):
        car=1
    else:
        car=0
    
    if(mycsvfile["Class"][i]=='go-out'):
        label=1
    else:
        label=0
    
    row=[weather,car,mycsvfile["out"][i],mycsvfile["home"][i]]
    X.append(row)
    y.append(label)
print(X)
print(y)

[[1, 1, 0.32, 0.04], [0, 0, 0.02, 0.24], [1, 1, 0.32, 0.04], [1, 1, 0.32, 0.04], [1, 1, 0.32, 0.04], [0, 0, 0.02, 0.24], [0, 0, 0.02, 0.24], [1, 1, 0.32, 0.04], [1, 0, 0.08, 0.16], [0, 0, 0.02, 0.24]]
[1, 1, 1, 1, 1, 0, 0, 0, 0, 0]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [9]:
X_train

[[0, 0, 0.02, 0.24],
 [1, 1, 0.32, 0.04],
 [1, 1, 0.32, 0.04],
 [1, 1, 0.32, 0.04],
 [0, 0, 0.02, 0.24],
 [1, 1, 0.32, 0.04],
 [1, 0, 0.08, 0.16],
 [0, 0, 0.02, 0.24]]

In [10]:
X_test

[[1, 1, 0.32, 0.04], [0, 0, 0.02, 0.24]]

In [11]:
y_train

[0, 1, 1, 1, 1, 0, 0, 0]

In [12]:
y_test

[1, 0]

In [13]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [14]:
y_pred = gnb.predict(X_test)
y_pred

array([1, 0])

In [15]:
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 100.0