# Naive Bayes Classifier
Here I've collected a very small dataset of 20 mammals and divided it into train-test set and evaluated the model.

In [60]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import pandas as pd

In [61]:
#Opening my custom dataset
mycsvfile=pd.read_csv('nbdataset.csv')
mycsvfile.head() #Checking to make sure if everything is proper or not by displaying the first 5 rows

     Name Give Birth Can Fly Live in Water Have Legs        Class
0   human        yes      no            no       yes      mammals
1  python         no      no            no        no  non-mammals
2  salmon         no      no           yes        no  non-mammals
3   whale        yes      no           yes        no      mammals
4    frog         no      no     sometimes       yes  non-mammals

In [62]:
mycsvfile.tail()

            Name Give Birth Can Fly Live in Water Have Legs        Class
15  gila monster         no      no            no       yes  non-mammals
16      platypus         no      no            no       yes      mammals
17           owl         no     yes            no       yes  non-mammals
18       dolphin        yes      no           yes        no      mammals
19         eagle         no     yes            no       yes  non-mammals

In [63]:
X=[]
y=[]
for i in range(20):
    if(mycsvfile["Give Birth"][i]=='yes'):
        gb=1
    else:
        gb=0
    
    if(mycsvfile["Can Fly"][i]=='yes'):
        cf=1
    else:
        cf=0
    
    if(mycsvfile["Live in Water"][i]=='yes'):
        lw=1
    elif(mycsvfile["Live in Water"][i]=='sometimes'):
        lw=0.5
    else:
        lw=0
    
    if(mycsvfile["Have Legs"][i]=='yes'):
        hl=1
    else:
        hl=0
    
    if(mycsvfile["Class"][i]=='mammals'):
        label=1
    else:
        label=0
    
    row=[gb,cf,lw,hl]
    X.append(row)
    y.append(label)
print(X)
print(y)

[[1, 0, 0, 1], [0, 0, 0, 0], [0, 0, 1, 0], [1, 0, 1, 0], [0, 0, 0.5, 1], [0, 0, 0, 1], [1, 1, 0, 1], [0, 1, 0, 1], [1, 0, 0, 1], [1, 0, 1, 0], [0, 0, 0.5, 1], [0, 0, 0.5, 1], [1, 0, 0, 1], [0, 0, 1, 0], [0, 0, 0.5, 1], [0, 0, 0, 1], [0, 0, 0, 1], [0, 1, 0, 1], [1, 0, 1, 0], [0, 1, 0, 1]]
[1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0]

In [64]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [65]:
X_train

[[0, 1, 0, 1],
 [0, 0, 0, 0],
 [0, 0, 1, 0],
 [1, 0, 0, 1],
 [0, 1, 0, 1],
 [1, 0, 1, 0],
 [1, 0, 1, 0],
 [0, 0, 0, 1],
 [1, 0, 0, 1],
 [1, 0, 0, 1],
 [0, 0, 0.5, 1],
 [0, 0, 0, 1]]

In [66]:
X_test

[[1, 0, 1, 0],
 [0, 0, 0, 1],
 [1, 1, 0, 1],
 [0, 0, 0.5, 1],
 [0, 0, 1, 0],
 [0, 0, 0.5, 1],
 [0, 0, 0.5, 1],
 [0, 1, 0, 1]]

In [67]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)

GaussianNB()

In [68]:
y_pred = gnb.predict(X_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0])

In [69]:
# comparing actual response values (y_test) with predicted response values (y_pred)
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)

Gaussian Naive Bayes model accuracy(in %): 75.0